---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About">
  <main class="content-container">
    <h1>Original Computer Specs</h1>
    <p>
      When I started this web site, I had a page dedicated to the specs for my
      computer at the time. This site is being built on an M2 Macbook Pro in the
      end of 2023, so I thought it would be interesting to share what the
      original version of this site was built using.
    </p>
    <table border="0" width="100%" cellspacing="0" cellpadding="5">
      <tbody
        ><tr>
          <td class="leftcell">
            <table border="1" width="100%" cellspacing="0" cellpadding="5">
              <tbody
                ><tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Number of CPUs</small></td
                  >

                  <td class="leftcell"><small>1</small></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td class="leftcell">
            <table border="1" width="100%" cellspacing="0" cellpadding="5">
              <tbody
                ><tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>Cpu Name</small></td
                  >

                  <td class="leftcell"
                    ><small>AMD Athlon (Thunderbird)</small></td
                  >
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Specification</small></td
                  >

                  <td class="leftcell"
                    ><small>AMD Athlon(tm) Processor</small></td
                  >
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Family / Model / Stepping</small></td
                  >

                  <td class="leftcell"><small>6 4 4</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Extended Family / Model</small></td
                  >

                  <td class="leftcell"><small>7 4</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Package</small></td
                  >

                  <td class="leftcell"><small>Socket A</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>Core Stepping</small></td
                  >

                  <td class="leftcell"><small>A9</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Technology</small></td
                  >

                  <td class="leftcell"> <small>0.18µ</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Supported Instructions Sets</small></td
                  >

                  <td class="leftcell"
                    ><small>MMX, Extended MMX, 3DNow!, Extended 3DNow!</small
                    ></td
                  >
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>Cpu Clock</small></td
                  >

                  <td class="leftcell"><small>1400.0 MHz</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>Clock multiplier</small></td
                  >

                  <td class="leftcell"><small>x 10.5</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>Front Side Bus Frequency</small></td
                  >

                  <td class="leftcell"><small>133.3 MHz</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>Bus Speed</small></td
                  >

                  <td class="leftcell"><small>266.7 MHz</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>L1 Data Cache</small></td
                  >

                  <td class="leftcell"
                    ><small
                      >64 Kbytes, 2-way set associative, 64 bytes line size</small
                    ></td
                  >
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>L1 Instruction Cache</small></td
                  >

                  <td class="leftcell"
                    ><small
                      >64 Kbytes, 2-way set associative, 64 bytes line size</small
                    ></td
                  >
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>L2 Cache</small></td
                  >

                  <td class="leftcell"
                    ><small
                      >256 Kbytes, 16-way set associative, 64 bytes line size</small
                    ></td
                  >
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>L2 Speed</small></td
                  >

                  <td class="leftcell"><small>1400.0 MHz (Full)</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>L2 Location</small></td
                  >

                  <td class="leftcell"><small>On Chip</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>L2 Data Prefetch Logic</small></td
                  >

                  <td class="leftcell"><small>no</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>L2 Bus Width</small></td
                  >

                  <td class="leftcell"><small>64 bits</small></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td class="leftcell">
            <table
              width="100%"
              border="1"
              cellpadding="5"
              cellspacing="0"
              class="leftcell"
            >
              <tbody
                ><tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Motherboard manufacturer</small></td
                  >

                  <td class="leftcell"
                    ><small>Gigabyte Technology Co. Ltd.</small></td
                  >
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Motherboard model</small></td
                  >

                  <td class="leftcell"><small>7ZX-H, 1.0</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>BIOS vendor</small></td
                  >

                  <td class="leftcell"
                    ><small>American Megatrends Inc.</small></td
                  >
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>BIOS revision</small></td
                  >

                  <td class="leftcell"> <small>62710</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>BIOS release date</small></td
                  >

                  <td class="leftcell"> <small>04/19/2001</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Chipset</small></td
                  >

                  <td class="leftcell"><small>VIA KT133A rev. 3</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Southbridge</small></td
                  >

                  <td class="leftcell"><small>VIA VT82C686 rev. 40</small></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td class="leftcell">
            <table border="1" width="100%" cellspacing="0" cellpadding="5">
              <tbody
                ><tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>RAM Type</small></td
                  >

                  <td class="leftcell"> <small>SDRAM</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>RAM Size</small></td
                  >

                  <td class="leftcell"><small>512 Mb</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>RAM Frequency</small></td
                  >

                  <td class="leftcell"><small>133.3 MHz</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>RAM Interleave</small></td
                  >

                  <td class="leftcell"> <small>4-way</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>CAS# Latency</small></td
                  >

                  <td class="leftcell"><small>3.0 clocks</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>RAS# to CAS#</small></td
                  >

                  <td class="leftcell"><small>3 clocks</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>RAS# Precharge</small></td
                  >

                  <td class="leftcell"><small>3 clocks</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small>Cycle Time (TRAS)</small></td
                  >

                  <td class="leftcell"><small>6 clocks</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle"
                    ><small># of memory modules</small></td
                  >

                  <td class="leftcell"><small>1</small></td>
                </tr>

                <tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Module 0</small></td
                  >

                  <td class="leftcell"
                    ><small>Kingston SDRAM PC133 - 512 Mb</small></td
                  >
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td class="leftcell"></td>
        </tr>

        <tr>
          <td class="leftcell">
            <table border="1" width="100%" cellspacing="0" cellpadding="5">
              <tbody
                ><tr valign="top">
                  <td width="30%" class="leftcellminortitle">
                    <small>Windows version</small></td
                  >

                  <td class="leftcell"
                    ><small
                      >Microsoft Windows 2000 Service Pack 3 (Build 2195)</small
                    ></td
                  >
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</Layout>
