---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { id: entry.id }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await render(entry);
entry.data.date.setTime(entry.data.date.getTime() + (6*60*60*1000));

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
	timezone: "America/Chicago"
};
---
<Layout title={entry.data.title}>
	<div class="blog-content content-container">
		<h1>{entry.data.title}</h1>
		<p class="date">{entry.data.date.toLocaleDateString('en-US', dateOptions)}</p>
		<Content />
		<ul class="tags">
			{entry.data.tags.map(tag => (
				<li><a href={`/tags/${tag}`}>{tag}</a></li>
			))}
		</ul>
	</div>
	
</Layout>

<style>
	.blog-content {
		margin-bottom: 40px;
		& h1 {
			font-family: 'Radio Canada Big', sans-serif;
			font-weight: 650;
		}
	}
	img { 
		max-width: 90%;
		height: auto;
		margin: 0 auto;
		display: block;
		border-radius: 20px;
	}
	
	.date {
		font-family: 'Radio Canada Big', sans-serif;
		font-size: 1.4rem;
		text-align: center;
	}

	.tags {
		padding: 0;
		display: flex;
		justify-content: center;
		gap: 10px;
		& li {
			list-style-type: none;
		}
	}
</style>
