---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const tripEntries = await getCollection('trips');
  return tripEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<Layout title={entry.data.title}>
	<Image src={entry.data.img} formats={['avif', 'webp']} alt={entry.data.alt} width="1200px"/>

	<div class="blog-content content-container">
		<h1>{entry.data.title}</h1>
		<Content />
	</div>
	
</Layout>

<style>
	.blog-content {
		font-family: 'AR One Sans', sans-serif;
		& h1 {
			font-family: 'Onest', sans-serif;
			font-weight: 500;
		}
	}
	img { 
		max-width: 90%;
		height: auto;
		margin: 0 auto;
		display: block;
		border-radius: 20px;
	}
</style>
