---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
---
<Layout title="Trips">
  <h1>Trips</h1>
  <div class="content-container">
    <h2><a href="/trips/ghana2013">Ghana 2013</a></h2>
    <p>Based in the Winneba region.</p>
    <h2><a href="/trips/ghana2015">Ghana 2015</a></h2>
    <p>Based in Accra and Kumasi.</p>
  </div>
</Layout>

<style>
  h2 {
    text-align: left;
    margin: 0;
  }
  p {
    margin: 8px 0 30px;
  }
</style>