---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const flights = await getCollection('flights');
  return flights.map(flight => ({
    params: { id: flight.id }, props: { flight },
  }));
}

const { flight } = Astro.props;
---

<Layout title={flight.data.flightNumber}>
	<div class="blog-content content-container">
    <h1>{flight.data.flightNumber}</h1>
    <p>{flight.data.flightStatus}</p>
  </div>
</Layout>