---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog')
const uniqueTags = [...new Set(blogEntries.map((post) => post.data.tags).flat())];

---
<Layout title="Tags">
  <h1>Tags</h1>
  <div class="content-container">
    <ul>
      { uniqueTags.map(tag => (
        <li><a href={`/tags/${tag}`}>{tag}</a></li>
      )) }
    </ul>
  </div>
</Layout>

<style>

</style>