---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main>
    <h1>About</h1>
    <h2>About Me</h2>
    <p>This is the personal web site for Mark Ahrens. For my career, I am the web team manager at UKG since October 2021. Previous to that, I was a Technical Account Manager at Acquia for nearly three years. Before joining Acquia, I had been at the University of Iowa as the web tech lead for over 12 years. The common element across all of these positions is Drupal, either developing or helping support it.</p>
    <p>In my personal life, I am husband to Rebekah and father to Will and Henry. I have lived my entire life in Illinois and Iowa, currently living just south of the Quad Cities. We live on a farm called Twisted Oaks where we raise sheep and chickens. I am also a big sports fan with my favorites being soccer and college football.</p>
    <h2>About the Site</h2>
    <p>My personal web site started with the mytungsten.net domain in 2001 and lived there until 2006. Deciding I wanted a change and went to marktopia.net in 2007. This change lasted a few years until I was able to buy back the mytungsten domain. Since about 2013, this site has not been too active, mostly a spot for tinkering in my free time. I am planning to make this a permanent spot for me on the web, so with the aid of the Internet Archive, I am going to work to bring back as much of the old content as possible as an archive. The very first version of the site kept a manually managed list of updates to the site on the home page, so it seems fitting to bring that back as well.</p>
	</main>
</Layout>

<style>
  main {
    max-width: 960px;
    margin: 0 auto;
  }
	h1, h2{
		font-family: 'Onest', sans-serif;
		text-align: center;
	}
	h1 {
		font-weight: 700;
		font-size: 2.4rem;
	}
	h2 {
		font-weight: 700;
		font-size: 2rem;
	}
	p {
		font-family: 'AR One Sans', sans-serif;
		font-size: 1.1rem;
    line-height: 1.6rem;
	}
</style>
