---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<h1>MyTungsten</h1>
		<h2>The personal web site of Mark Ahrens</h2>
		<h3>Updates</h3>
		<ul class="content-container">
			<li>12/24/2023 - Updated site design, restored iPod for Windows review, added more info on About page.</li>
			<li>2/20/2023 - Restored Euler's Identity page</li>
			<li>2/14/2023 - Added About page</li>
		</ul>
	</main>
</Layout>

<style>
	
</style>
