---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<h1>MyTungsten</h1>
		<h2>The personal web site of Mark Ahrens</h2>
		<h3>Updates</h3>
		<ul>
			<li>2/20/2023 - Restored Euler's Identity page</li>
			<li>2/14/2023 - Added About page</li>
		</ul>
	</main>
</Layout>

<style>
	h1, h2, h3 {
		font-family: 'Onest', sans-serif;
		text-align: center;
	}
	h1 {
		font-weight: 700;
		font-size: 2.4rem;
	}
	h2 {
		font-weight: 700;
		font-size: 2rem;
	}
	h3 {
		margin-top: 40px;
		font-weight: 500;
		font-size: 1.6rem;
	}
	ul {
		max-width: 960px;
		margin: 0 auto;
	}
	li {
		font-family: 'AR One Sans', sans-serif;
		font-size: 1.2rem;
	}
</style>
