---
const { href, title, date, description} = Astro.props;
date.setTime(date.getTime() + (6*60*60*1000));
const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
---

<div class="blog-card">
  <small>{date.toLocaleDateString('en-US', dateOptions)}</small>
  <div>
    <h2 class="card-title"><a href={href}>{title}</a></h2>
    <p>{description}</p>
  </div>
</div>

<style>
  .blog-card {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 20px;
    align-items: baseline;
    margin-bottom: 40px;
  }
  small {
    font-weight: 500;
    font-size: 1.2rem;
  }
  .card-title {
    text-align: left;
    margin: 0;
  }

</style>