---
const { href, title, date} = Astro.props;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
---

<div class="blog-card">
  <small>{date.toLocaleDateString('en-US', dateOptions)}</small>
  <div>
    <h2 class="card-title"><a href={href}>{title}</a></h2>
  </div>
</div>

<style>
  .blog-card {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    align-items: baseline;
  }
  small {
    font-weight: 500;
    font-size: 1.2rem;
  }
  .card-title {
    text-align: left;
    margin: 0;
  }

</style>