---
const { href, title, date, description, inline = false } = Astro.props;
date.setTime(date.getTime() + (6*60*60*1000));
const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
---

<div class="post-row">
  <small>{date.toLocaleDateString('en-US', dateOptions)}</small>
  <div class={inline ? 'inline' : ''}>
    <h2 class="card-title"><a href={href}>{title}</a></h2>
    <p>{description}</p>
  </div>
</div>

<style>
  .post-row {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 20px;
    align-items: baseline;
    margin-bottom: 40px;
  }
  small {
    font-weight: 500;
    font-size: 1.2rem;
  }
  .card-title {
    text-align: left;
    margin: 0;
  }

  .inline {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-end;
    p {
      margin: 0;
      padding-bottom: 3px;
    }
  }

</style>