---
const { href, title, date, description, inline = false } = Astro.props;
const newDate = new Date(date);
newDate.setTime(newDate.getTime() + (6*60*60*1000));
const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
---

<div class="post-row">
  <small>{newDate.toLocaleDateString('en-US', dateOptions)}</small>
    <h2 class="card-title"><a href={href}>{title}</a></h2>
    <p>{description}</p>
</div>

<style>
  .post-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
    margin-bottom: 20px;
    background-color: var(--color-white);
    padding: 20px;
  }
  small {
    font-weight: 500;
    font-size: 0.8rem;
  }
  .card-title {
    text-align: left;
    margin: 0;
  }

  p {
    font-size: 1rem; 
    margin: 0;
  }
</style>