---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Projects">
	<main>
		<h1>Projects</h1>
		<ul class="content-container">
			<li>
        <h2><a href="https://bowls.mytungsten.net">Bowl Report</a></h2>
        <p>A project collecting the history of college football bowl game results.</p>
      </li>
      <li>
        <h2><a href="/projects/eulers">Euler's Identity</a></h2>
        <p>One of the original pages I posted on MyTungsten.</p>
      </li>
      <li>
        <h2><a href="/projects/ipod-for-windows">iPod for Windows Review</a></h2>
        <p>Review from February 2003</p>
      </li>
      
		</ul>
	</main>
</Layout>

<style>
	li {
    list-style-type: none;
  }
  li h2 {
    text-align: left;
    margin: 0;
  }
  li p {
    margin-top:4px;
    margin-bottom: 30px;
  }
</style>
