---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Projects">
	<main>
		<h1>Projects</h1>
		<div class="content-container headings-left">
      <p><em>This review was originally posted on the site in February 2003</em></p>
      <h1>iPod for Windows Review</h1>
      <p>First off, I have decided to stray a little from my normal look and feel because this is a little different of a page for me. I have never really done a hardware review, so if you have any comments, questions or concerns, please e-mail me at webmaster@mytungsten.net.</p>

      <h2>iPod for Windows Stats:</h2>
      <ul>
        <li>Model: 20 GB</li>
        <li>Size: 4.0 x 2.4 x 0.84 in</li>
        <li>Weight: 7.2 oz</li>
        <li>Accessories: Ear bud earphones, wired remote, carrying case</li>
        <li>Price: $474.99 (on sale at Best Buy)</li>
      </ul>

      <h2>iPod for Windows Review:</h2>

      <h3>Packaging:</h3>

      <p>The iPod comes in a cube shaped box which has a sleeve which slides off to reveal the inner box. This box opens in half with materials in either half. One side had the AC adaptor, carrying case with protective sleeve, earphones, and the installation media with instructions. The other side had the iPod, Firewire cable, Firewire adaptor and wired remote. Each item is in it's own static free bag.</p>

      <h3>Preparation:</h3>

      <p>Because I did not have any Firewire ports on my motherboard, I had to purchase a PCI card. The card was $30 and has 3 ports on it. I was mildly surprised that the ports were the 6 pin ports instead of 4, but it was a pleasant surprise. Installation of the card was easy and Windows 2000 picked it up right away.</p>

      <p>I also went through my mp3 collection and updated all of the ID3 tags so they would display correctly. A nice program to rename multiple files at once on the PC is called Taggin' MP3. It is a freeware download and works very nicely.</p>

      <h3>Installation:</h3>

      <p>The first thing that I needed to do was to charge the iPod for at least an hour according to Apple. Not wanting to hook it up to the computer before installing any software, I used the power adaptor which came with the iPod. The iPod connects to the power adaptor using the same Firewire cord to connect to the computer. While that was charging, I used the hour to make dinner and then install all of the software.</p>

      <p>Installation of the software was rather painless. The CD autoran when I put it in the computer and proceeded to give me a splash screen to install the Apple software. I went through this process and registered with Apple. This was a little difficult as I had to read the serial number from the back of the iPod where it is written in very small text. After this process, I was brought into the MusicMatch Pro installation. Apple does provide a full copy of MusicMatch with the serial number on the CD sleeve. During the installation of MusicMatch, the iPod plug-in was also installed. After this was completed, I was prompted to restart. After this, I was ready to go...almost.</p>

      <h3>First Connection:</h3>

      <p>I started up MusicMatch, and was prompted to search for mp3s. I keep all of my mp3s in one folder, then sorted into subfolders by album. After telling MusicMatch where to look, all of the files were imported into the Library in MusicMatch. I picked up on about 85% of the ID3 tags and of those, I was only not able to fix one album through MusicMatch, so I was rather impressed by that.
      </p>

      <p>After all that, my iPod had charged for an hour, so I hooked it up to the computer. In order, these things happened:
      </p>

      <ul>
        <li>iPod screen changed to the Apple logo</li>
        <li>MusicMatch started up</li>
        <li>The system tray iPod logo removed the X from the icon</li>
      </ul>

      <p>All of these things happened within a couple of seconds of connecting. Then the waiting began as MusicMatch had to open it's window for external devices. After 3 seconds there, it took 34 seconds to display the iPod and prompt me to sync it. I started to download all of my mp3s to the iPod. I had about 2 GB of mp3s to transfer, and the transfer took about 5 minutes, or about 400MB/min. Needless to say, I was very impressed. After the transfer, I closed MusicMatch, clicked the iPod logo in the system tray to unmount the iPod and in a couple seconds, was able to unhook it.</p>

      <h3>First Listen:</h3>

      <p>After unhooking the iPod, I plugged in the earbuds which came with the iPod. I had to put the padding on the earbuds, they come with two sets, I am assuming for if one gets damaged. I turned the iPod on by pressing the Menu button and was prompted to enter my language. I entered English and continued. I was then shown the main iPod screen and chose Artists. I went through some different artists and albums to see how they sounded, and the quality was very nice. Then I tried an album which had never caused any problems on the computer, but simply would not play on the iPod. It displayed all of the information about the songs, but just skipped each song until it got to the end of the album and then hung the iPod. Needless to say, I was a bit dismayed.</p>

      <h3>Fixing and Following Connections:</h3>

      <p>After being a little frustrated with the iPod hanging, I decided to hook it back up to the computer and see what happens. I was given the Apple logo again and it went back to it's charging/standby mode. I decided that I would try to sync again and see if that fixes the problem with that album. After the 30 seconds to connect, I synced and unmounted again. Unfortunately, the album would not play still, but it no longer hung the iPod. I decided the album wasn't worth the problems, so I deleted it from the computer and when I reconnected the iPod and resynced, the album was gone. This was the only problem I have had playing mp3s.</p>

      <p>One other issue I have is that the iPod always syncs with the computer, so if you remove an album from your hard drive, then when you sync, it will no longer be on your iPod. This means you need to have every mp3 you want on your iPod on your computer, which can be quite a bit of space if you want 20 GB of music.</p>

		</div>
	</main>
</Layout>

<style>

</style>
