---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/mt-icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | MyTungsten</title>
		<link rel="alternate" type="application/rss+xml" title="RSS Feed for MyTungsten" href="/feed.xml" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Onest:wght@500;700&display=swap" rel="stylesheet">
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-YZ00BVBCXZ"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-YZ00BVBCXZ');
	</script>
	<body>
		<nav>
			<a href="/" class="site-logo-container">
				<svg version="1.1" id="mt-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 1024 1024" xml:space="preserve">
				<style>
					.st0 {
						fill:none;
						stroke:#008080;
						stroke-width:120;
						stroke-miterlimit:10;
						@media (prefers-color-scheme: dark) {
							stroke:#f1fef6
						}
					}
				</style>
					<path class="st0" d="M128.2,642c0-71,57.5-128.5,128.5-128.5S385.2,571.1,385.2,642"/>
					<path class="st0" d="M385.2,642c0-71,57.5-128.5,128.5-128.5S642.2,571.1,642.2,642"/>
					<line class="st0" x1="128.2" y1="640" x2="128.2" y2="840"/>
					<line class="st0" x1="385.2" y1="640" x2="385.2" y2="840"/>
					<path class="st0" d="M899.2,656.6c0,71-57.5,128.5-128.5,128.5s-128.5-57.5-128.5-128.5"/>
					<line class="st0" x1="642.2" y1="189.6" x2="642.2" y2="668.6"/>
					<line class="st0" x1="619.8" y1="374.6" x2="826.8" y2="374.6"/>
				</svg>
				<span>MyTungsten</span>
			</a>
			<ul>
				<li><a href="/trips">Trips</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/about">About</a></li>
			</ul>

		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--lightColor: #F1FAFB;
		--lightColorAlt: #A0E4F1;
		--darkColor: #4A4DE7;
		--darkColorAlt: #7EA6F4
	}
	html {
		font-family: system-ui, sans-serif;
		color: var(--lightColor);
			background-color: var(--darkColor);
	}

	body {
		margin: 0;
		font-family: 'AR One Sans', sans-serif;
	}

	h1, h2, h3 {
		font-family: 'Onest', sans-serif;
		text-align: center;
	}
	.headings-left h1,
	.headings-left h2,
	.headings-left h3 {
		text-align: left;
	}
	h1 {
		font-weight: 700;
		font-size: 2.4rem;
	}
	h2 {
		font-weight: 700;
		font-size: 2rem;
	}
	h3 {
		margin-top: 40px;
		font-weight: 500;
		font-size: 1.6rem;
	}
	li {
		font-size: 1.2rem;
	}

	p {	
		font-size: 1.2rem;
    line-height: 1.8rem;
	}


	a {
		color: var(--lightColorAlt);
		text-decoration: none;
		position: relative;
	}

	a:hover {
		color: var(--lightColorAlt);
	}

	a::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 1.5px;
		bottom: 0;
		left: 0;
		background-color: var(--lightColorAlt);
		transform: scaleX(0);
		transform-origin: top left;
		transition: transform 0.3s ease;
	}

	a:hover::before {
		transform: scaleX(1);
	}

	.content-container {
		max-width: 980px;
		margin: 0 auto;
		padding: 0 20px;
	}

	nav {
		display: flex;
		justify-content: space-between;
		font-family: 'Onest', sans-serif;
		font-weight: 500;
		margin-bottom: 40px;
		padding: 8px;
		& a {
			color: var(--lightColor);
			text-decoration: none;
		}
		& a.site-logo-container:hover {
			color: var(--lightColor);
		}
		& a.site-logo-container::before {
			display: none;
		}
		& .site-logo-container {
			display: flex;
			align-items: center;
			& span {
				display: inline-block;
				padding: 8px 16px;
				font-size: 1.6rem;
			}
		}
		 
		& svg {
			width: 64px;
			display: inline;
		}
		& .st0{
			@media (prefers-color-scheme: dark) {
				stroke:var(--lightColor)
			}
		}
		& ul {
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: row;
			@media (width <= 600px) { 
				flex-direction: column;
			};
			& li {
				list-style-type: none;
				padding: 16px;
				font-size: 1.1rem;
				text-align: center;
				@media (width <= 600px) { 
					padding: 4px;
				};
			}
		}
	}
	
</style>