---
const { frontmatter } = Astro.props;
---
<h1>{frontmatter.title}</h1>
<p>{frontmatter.description}</p>
<img src={frontmatter.img} alt={frontmatter.alt} />
<slot />
<style is:global>
	:root {
		--textColor: #f3fdf3;
		--backgroundColor: #008080;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--backgroundColor);
	}
</style>